.postsbox {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.card {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid;
  justify-content: space-between;
}


