form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-self: flex-start;
}

input{
    width: 230px;
}

button{
    margin-top: 10px;
    align-self: flex-start;
    padding: 10px;
}